In [2]:
import os
os.getcwd()

'C:\\Users\\HP'

In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('customer_data.csv')

In [7]:
df.head(5)

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
0,Dr.,Ray,Morton,sebvajom@kol.km,Male,38,Medtronic Inc.,Health Therapist,(987) 619-2695,B6V 3W3,MB,5020000000000230,05/2018,Solo,8.36,Blue,126.23.139.2,Sunday,pm,04/05/1930
1,Miss,Claudia,Rodriquez,acu@jatsot.ug,Female,51,"Ames Department Stores, Inc.",Health Therapist,(356) 736-7352,G7M 5F3,SK,5020000000000230,07/2028,Visa,68.31,Black,106.198.76.211,Tuesday,am,12/20/1926
2,Miss,Harry,Meyer,zuz@lo.wf,Female,51,CSX Corp.,Political Scientist,(539) 246-1806,A0Z 6P9,NS,6300000000000000,02/2023,Switch,34.65,Black,186.150.187.29,Wednesday,pm,08/20/1931
3,Miss,Edith,Gilbert,hansohsi@jupec.md,Female,55,Murphy Oil Corporation,Transportation Manager,(984) 962-7494,P9I 9H3,YT,3530000000000000,02/2028,Maestro,64.59,White,80.140.57.161,Saturday,am,06/18/2001
4,Dr.,Lura,Murphy,webediti@je.st,Female,20,PETsMART Inc,Statistician,(902) 568-9748,S1A 6K0,ON,4030000000000000,10/2025,Diners Club International,20.83,Yellow,211.103.43.41,Friday,pm,06/14/2045

In [8]:
df.shape

(30000, 20)

In [9]:
df['age'].agg(['max', 'min', 'mean'])

max     65.000000
min     18.000000
mean    41.550067
Name: age, dtype: float64

In [10]:
df['first'].value_counts().head(3)

first
Willie     130
Francis    124
Eula        86
Name: count, dtype: int64

In [11]:
(df['profession'] == 'Structural Engineer').sum()

np.int64(87)

In [12]:
((df['gender'] == 'Male') & (df['profession'] == 'Structural Engineer')).sum()

np.int64(43)

In [13]:
df[
    (df['gender'] == 'Female') &
    (df['profession'] == 'Structural Engineer') &
    (df['province'] == 'AB')
]

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
8858,Dr.,Roy,Stanley,apiunvo@ehasom.ir,Female,39,Cincinnati Financial Corp.,Structural Engineer,(876) 758-2929,N5A 6L2,AB,6300000000000000,02/2022,InstaPayment,31.86,Red,165.249.159.57,Sunday,pm,12/25/1903
9058,Mr.,Lora,Kennedy,dennap@rabac.se,Female,51,BJ Services Company,Structural Engineer,(305) 786-6959,N3R 4B7,AB,201000000000000,06/2019,Diners Club United States & Canada,53.29,Black,42.216.243.206,Thursday,pm,06/06/2028
24736,Mrs.,Nell,Richards,dob@me.ki,Female,18,Telephone & Data Systems Inc,Structural Engineer,(262) 681-5018,N3Y 3G2,AB,347000000000000,07/2028,American Express,76.28,Blue,91.16.30.156,Wednesday,pm,07/14/1951
29865,Mrs.,Don,McDaniel,naf@zudu.bj,Female,37,Anadarko Petroleum Corporation,Structural Engineer,(238) 789-2825,B4A 8Q9,AB,5610000000000000,12/2022,Mastercard,62.71,Blue,162.233.117.142,Sunday,pm,11/03/1989

In [14]:
df['price(CAD)'].agg(['max', 'min', 'mean'])

max     100.000000
min       0.000000
mean     49.990775
Name: price(CAD), dtype: float64

In [15]:
df.loc[df['price(CAD)'] == 0, 'first']

5320     Bruce
10597    Flora
Name: first, dtype: object

In [16]:
df.loc[df['price(CAD)'] >= 100, 'first']

76       Gregory
21093       Cody
24385     Lizzie
Name: first, dtype: object

In [17]:
df.loc[df['cc_no'] == 5020000000000230, 'email']

0    sebvajom@kol.km
1      acu@jatsot.ug
Name: email, dtype: object

In [ ]:
df[df['cc_exp'].dt.year == 2019]

In [18]:
(df['cc_type'] == 'Visa').sum()

np.int64(1721)

In [19]:
df.loc[(df['price(CAD)'] >= 100) & (df['cc_type'] == 'Visa'), 'first']

76    Gregory
Name: first, dtype: object

In [20]:
df['profession'].value_counts().head(2)

profession
Preschool Teacher       112
Distribution Manager    107
Name: count, dtype: int64

In [21]:
df['email_provider'] = df['email'].str.split('@').str[1]
df['email_provider'].value_counts().head(5)

email_provider
gmail.com      1687
me.com         1676
outlook.com    1664
live.com       1660
hotmail.com    1659
Name: count, dtype: int64

In [22]:
df[df['email'].str.contains('am.edu', na=False)]

,prefix,first,last,email,gender,age,company,profession,phone,postal,...,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date,email_provider
150,Miss,Loretta,Fletcher,barit@am.edu,Female,48,York International Corp,Rehabilitation Counselor,(323) 279-8038,E5X 8L0,...,6330000000000000,05/2021,Diners Club United States & Canada,97.26,White,147.57.240.225,Monday,am,11/07/2066,am.edu

'C:\\Users\\HP'